@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<div id="sidebar">
										<section class="widget thumbnails">
											<h3>monochrome pictures</h3>
											<div class="grid">
												<div class="row gtr-50">
													<div class="col-6"><a href="#" class="image fit"><img src="immagini/1.jpg" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="immagini/2.jpg" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="immagini/3.jpg" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="immagini/4.jpg" alt="" /></a></div>
												</div>
											</div>
											<a href="#" class="button icon fa-file-alt">More</a>
										</section>
									</div>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<div id="content">
										<section class="last">
											<h2>Something about this site</h2>
											<p>This is <strong>Giorgetti</strong>, a site for Giorgetti's Emporium.
											Giorgetti is a full object <a href="http://html5up.net/license">emporium</a>, from food to ammunition to candies</p>
											<p>don't feel intimidated if four outlaws enter the store with the intention of ambushing you during a blizzard</p>
											<a href="#" class="button icon solid fa-arrow-circle-right">Continue Reading</a>
										</section>
									</div>

							</div>
						</div>
					</div>

                    <!-- Banner -->
                    <div id="banner-wrapper">
                        <div id="banner" class="box container">
                            <div class="row">
                                <div class="col-7 col-12-medium">
                                    <h2>Hi. This Giorgetti's emporium.</h2>
                                    <p>It's a free responsive site template by GIORGETTI</p>
                                </div>
                                <div class="col-5 col-12-medium">
                                    <ul>
                                        <li><a href="#" class="button large icon solid fa-arrow-circle-right">Ok let's go</a></li>
                                        <li><a href="#" class="button alt large icon solid fa-question-circle">More info</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
