@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>


<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/immagini/5.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Get some food partner</h2>
												<p>The trip is long</p>
											</header>
											<p>grab some meat or maybe you prefer a nice plate of tuna and beans</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/immagini/6.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Maybe some ammuntion</h2>
												<p>for guns and rifles</p>
											</header>
											<p>we have ammunition for all gun ever existed, from pistols to rifles, from cannons to tank</p>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="/immagini/7.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>and finally take a bed</h2>
												<p>for sleeping obviusly</p>
											</header>
											<p>afther a long trip like that you need to rest in our emporium</p>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>